footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--accent-color);
  min-height: 100px;
  padding: 20px 50px;
}
footer .social-icon,
footer .menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer .social-icon li,
footer .menu li {
  list-style: none;
}
footer .social-icon li a {
  font-size: 2em;
  color: var(--light-theme-color);
  margin: 0 10px;
  display: inline-block;
  transition: 500ms;
}
footer .social-icon li a:hover,
footer .social-icon li a:focus {
  transform: translateY(-10px);
}
footer .menu li a {
  font-size: 1.2em;
  color: var(--light-theme-color);
  margin: 0 10px;
  display: inline-block;
  transition: 500ms;
  opacity: 0.75;
}
footer .menu li a:hover,
footer .menu li a:focus {
  opacity: 1;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/src/images/wave3.png);
  background-size: 1000px 100px;
  // filter: invert(60%) sepia(55%) saturate(5954%) hue-rotate(240deg)
  //   brightness(97%) contrast(98%);
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
