.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-theme-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
}

.header__logo {
  font-weight: 700;
  line-height: 1.375;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.header__list {
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 2;
}

.header__list-icon {
  display: none;
}

.header__link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--primary-text-color);
  line-height: 1.375;
}

.header__search {
  z-index: 3;
  position: relative;
  width: 31px;
  height: 31px;
  background-color: var(--light-theme-color);
  transition: 500ms;
  display: flex;
  align-items: center;
  z-index: 3;
  border-radius: 30px;
  overflow: hidden;
}

.header__search input {
  background-color: var(--light-theme-color);
}

.header__search input::placeholder {
  color: var(--secondary-text-color);
}

@media screen and(max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 106px;
  }

  .header__logo {
    font-size: 24px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-theme-color);
    padding: 125px 0 0 0;
    overflow: auto;
    transition: ease-in-out 500ms;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list-icon {
    display: block;
  }

  .header__list li {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .header__list li:focus {
    background-color: var(--accent-color);
  }

  .header__link {
    font-weight: 500;
    font-size: 16px;
  }

  .header__search .search__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    background-color: var(--light-theme-color);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
  }

  .header__search .search__icon::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid var(--primary-text-color);
    border-radius: 50%;
    transform: translate(-2px, -2px);
  }

  .header__search .search__icon::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 9px;
    background-color: var(--primary-text-color);
    transform: translate(8px, 8px) rotate(-45deg);
  }

  .header__search.active {
    outline: 1px solid var(--primary-text-color);
    width: 173px;
  }

  .header__search .search__input {
    position: relative;
    width: 190px;
    height: 31px;
    left: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__search .search__input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 12px;
    padding: 10px 0;
  }

  .header__burger {
    display: block;
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    background-color: var(--primary-text-color);
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    left: 0;
    top: 9px;
    transition: ease-in-out 500ms;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: var(--primary-text-color);
    width: 100%;
    height: 3px;
    border-radius: 2px;
    left: 0;
    transition: ease-in-out 500ms;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .search-burger-container {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

@media screen and (min-width: 768px) {
  .header__body {
    height: 113px;
  }

  .header__logo {
    font-size: 32px;
  }

  .header__link {
    font-weight: 700;
    font-size: 16px;
    &:focus {
      border-bottom: 1px solid var(--accent-color);
    }
  }

  .header__search {
    outline: 1px solid var(--primary-text-color);
    position: relative;
    width: 213px;
  }

  .header__search .search__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    background-color: var(--light-theme-color);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
  }

  .header__search .search__icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 50%;
    transform: translate(-2px, -2px);
  }

  .header__search .search__icon::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 7px;
    background-color: var(--primary-text-color);
    transform: translate(5px, 5px) rotate(-45deg);
  }

  .header__search .search__input {
    position: relative;
    width: 190px;
    height: 31px;
    left: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__search .search__input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 12px;
    padding: 10px 0;
  }

  .header__burger {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.39;
    transition: border-bottom 500ms ease;
    &:hover,
    &:focus {
      border-bottom: 1px solid var(--accent-color);
    }
  }
  .header__search {
    width: 288px;
  }

  .header__burger {
    display: none;
  }
}
