.card-container {
  display: none;
}

.news {
  position: relative;
  margin-bottom: 100px;
}

.card-container {
  display: grid;
  grid-row-gap: 28px;

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min(675);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min(675);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }
}

.card {
  overflow: hidden;
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-2 {
  grid-column-start: 1;
}

.card-img-wrapper {
  position: relative;
  height: 395px;
  // width: 395px;
}

.card__btn {
  position: absolute;
  bottom: 12;
  right: 12;
  display: inline-block;
  padding: 6px 32px 6px 12px;
  border-radius: 100px;
  background-color: var(--light-color);
  color: var(--main-color);
  font-weight: 500;
  cursor: pointer;

  .like {
    position: absolute;
    right: 12;
    top: 50%;
    transform: translateY(-50%);
  }
}

.card__category {
  position: absolute;
  top: 40;
  left: 0;
  display: inline-block;
  min-width: 115px;
  text-align: center;
  padding: 6px 16px;
  border-radius: 0px 4px 4px 0px;
  background: rgba(68, 64, 247, 0.7);
  color: var(--light-color);
  font-weight: 500;
}

.card__img {
  min-width: 100%;
  height: 395px;
  object-position: center;
  object-fit: cover;
}

.card-description {
  padding: 7px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.375;
}

.card__text {
  font-size: 16px;
  line-height: 1.375;
}

.card__date-creation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .card__date {
    font-size: 16;
    font-weight: 1.375;
    color: #a8a8a8;
  }

  .card-read-more {
    font-size: 16px;
    line-height: 1.375;
    color: var(--secondary-color);
    transition: all var(--duration) var(--timeFunc);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
