.weather__container {
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 353px;
<<<<<<< Updated upstream:src/sass/weather.scss
=======

    right: 16;
>>>>>>> Stashed changes:src/sass/_weather.scss
  }
  @media screen and (max-width: 767px) {
    // display: none;
  }
  position: absolute;
  top: 0;
  right: 16;
  height: 675px;
  background: var(--secondary-color);
  padding: 45px 70px;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-wrapper {
  display: flex;
  margin-bottom: 90px;
}

.weather__temp {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.17;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  padding-right: 8px;
  margin-right: 15px;
}
<<<<<<< Updated upstream:src/sass/weather.scss
=======

>>>>>>> Stashed changes:src/sass/_weather.scss
.weather__description {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.16;
}
.weather__location {
  position: relative;
<<<<<<< Updated upstream:src/sass/weather.scss
  width: 177px;
  height: 42px;
=======
  min-width: auto;
  min-height: 42px;

>>>>>>> Stashed changes:src/sass/_weather.scss
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  text-align: center;
  padding: 10px 17px 10px 42px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;

  &::before {
    content: url('../images/svg/geolocation.svg');
    width: 27px;
    height: 27px;
    position: absolute;
    fill: var(--light-color);
    margin: 0;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
}

.weather__icon {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center;
}
<<<<<<< Updated upstream:src/sass/weather.scss
=======

>>>>>>> Stashed changes:src/sass/_weather.scss
.weather__icon-image {
  display: inline-block;
  width: 165px;
  height: 155px;
  object-position: 50% 50%;
  object-fit: cover;
}

.day,
.date {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #ffffff;
}
<<<<<<< Updated upstream:src/sass/weather.scss
.date {
}
=======
>>>>>>> Stashed changes:src/sass/_weather.scss

.weather__button {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #ffffff;
  width: 177px;
  height: 42px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
<<<<<<< Updated upstream:src/sass/weather.scss
=======
  align-items: center;
  bottom: 40px;
  left: 25%;
}

.forecast-container {
  border: 1px solid #ffffff;
  border-radius: 25px;
  margin-bottom: 5px;
  padding: 5px;
}
.forecast-content-wrapper {
  display: none;
}
.forecast__description {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}
.forecast-date .forecast-day {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.02;

  color: #ffffff;
}

.forecast-date {
  flex-direction: row;
  text-align: center;
  display: flex;
  justify-content: center;
}
.forecast-image {
  display: flex;
  flex-direction: column;
  width: 65px;
  height: 55px;
  object-position: 50% 50%;
  object-fit: cover;
}
.weather-forecast-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
>>>>>>> Stashed changes:src/sass/_weather.scss
}
