html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  background-color: #f4f4f4;
  padding-top: 115px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  text-align: center;
  border-color: transparent;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
html.dark body {
  color: #F4F4F4;
  background-color:  #111321;
}
html.light body {
  color: #111321;
  background-color: #F4F4F4;
}