<div class="date">
    <label class="date-label">Search date news</label>
    <div class="date-input">
    <input type="text" class="date-picker" id="date-picker" placeholder="Search date..." 
    />
    <svg class="date-svg-calendar" width="20px" height="20px">
    <use href="./images/calendar-defs.svg#icon-Frame"></use>
    </svg>
    <svg class="date-down" width="20px" height="20px">
      <use href="./images/calendar-defs.svg#icon-Frame-11"></use>
      </svg>
    </div>
    </div>

    
    <script src="./js/calendar.js" type="module"></script>
  