
<!-- Filter Categories -->
<section class="container">
  <div class="filter-wrapper">
    <div class="filter-wrapper--categories filters"></div>
    <div class="filters--others"></div>

    <!-- Calendar -->
    <div class="filter-wrapper--date">
      <div class="date">
        <div class="date-input">
          <input
            type="text"
            class="date-picker"
            id="date-picker"
            placeholder="Search date..."
          />
          <svg class="date-svg-calendar" width="20px" height="20px">
            <use href="./images/calendar-defs.svg#icon-Frame"></use>
          </svg>
          <svg class="date-down" width="20px" height="20px">
            <use href="./images/calendar-defs.svg#icon-Frame-11"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

