<header class="header">
  <h2 class="visually-hidden">Page Header</h2>
  <div class="container">
    <div class="header__body">
      <a class="header__logo" href="/">News</a>

      <nav class="header__menu">
        <ul class="header__list">
          <li>
            <svg class="header__list-icon" width="32" height="32">
              <use href="/src/images/symbol-defs.svg#icon-home"></use></svg
            ><a class="header__link" href="/">Home</a>
          </li>
          <li>
            <svg class="header__list-icon" width="32" height="32">
              <use href="/src/images/symbol-defs.svg#icon-heart"></use></svg
            ><a class="header__link" href="favorite.html">Favourite</a>
          </li>
          <li>
            <svg class="header__list-icon" width="32" height="32">
              <use href="/src/images/symbol-defs.svg#icon-book"></use></svg
            ><a class="header__link" href="read.html">Read</a>
          </li>
        </ul>
      </nav>

      <div class="header__search">
        <i class="fa fa-search"></i>
        <input class="search__input" type="text" placeholder="Search" />
      </div>

      <div type="button" tabindex="0" class="header__burger">
        <span></span>
      </div>
    </div>
  </div>
</header>
