<header class="header">
  <h2 class="visually-hidden">Page Header</h2>
  <div class="container">
    <div class="header__body">
      <a class="header__logo" href="/">News</a>

      <nav class="header__menu">
        <ul class="header__list">
          <li>
            <a class="header__link" href="/" data-active="home">
              <svg class="header__list-icon" width="32" height="32">
                <use href="/src/images/symbol-defs.svg#icon-home"></use></svg
              >Home
            </a>
          </li>
          <li>
            <a
              class="header__link"
              href="favorite.html"
              data-active="favourite"
            >
              <svg class="header__list-icon" width="32" height="32">
                <use href="/src/images/symbol-defs.svg#icon-heart"></use></svg
              >Favourite
            </a>
          </li>
          <li>
            <a class="header__link" href="read.html" data-active="read">
              <svg class="header__list-icon" width="32" height="32">
                <use href="/src/images/symbol-defs.svg#icon-book"></use></svg
              >Read
            </a>
          </li>
        </ul>
      </nav>

      <div class="search-burger-container">
        <div class="header__search">
          <div class="search__icon"></div>
          <div class="search__input">
            <form class="search__form">
              <input type="text" placeholder="Search" />
            </form>
          </div>
        </div>
        <div type="button" tabindex="0" class="header__burger">
          <span></span>
        </div>
      </div>
      <div class="toggle">
        <span class="switch-light">Light</span>
        <input type="checkbox" id="toggle" />
        <label for="toggle"></label>
        <span class="switch-dark">Dark</span>
      </div>
    </div>
  </div>
</header>
