<!--NewsNotFound-->

<section class="news-not-found--section">
  <div class="news-not-found--container">
    <h2 class="news-not-found--title">We haven't found news from this category</h2>
    <picture>
      <source srcset="../images/newsNotFound/notFoundNews_image_mobile_1x.jpg 1x,
                      ../images/newsNotFound/notFoundNews_image_mobile_2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="../images/newsNotFound/notFoundNews_image_tablet_1x.jpg 1x,
                      ../images/newsNotFound/notFoundNews_image_tablet_2x.jpg 2x" media="(min-width: 768px)">
      <source srcset="../images/newsNotFound/notFoundNews_image_desktop_1x.jpg 1x,
                      ../images/newsNotFound/notFoundNews_image_desktop_2x.jpg 2x" media="(min-width: 1200px)">
      <img class="news-not-found--img" src="../images/newsNotFound/notFoundNews_image_mobile_1x.jpg" alt="newspaper on the background of nature" width="250" />
    </picture>
  </div>
</section>